body {
  margin: 0;
  /* background-color: tomato; */
}
* {
  box-sizing: border-box;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}
img {
  padding: 5px;
  border: 1px solid grey;
  margin: 10px;
}
p {
  padding: 5px;
}
@media (max-width: 900px) {
  img {
    width: 300px;
  }
}
@media (max-width: 750px) {
  img {
    width: 250px;
  }
}

@media (max-width: 600px) {
  img {
    width: 100%;
  }
}




























/* .grid-example {
  display: flex;
  flex-wrap: wrap;
}
.grid-example > div {
  flex: 0 0 100%;
  padding: 0.5rem;
}

@media (min-width: 600px) {
  .grid-example > div {
    flex: 0 0 50%;
  }
}
@media (min-width: 750px) {
  .grid-example > div {
    flex: 0 0 33.33333333%;
  }
}
@media (min-width: 900px) {
  .grid-example > div {
    flex: 0 0 25%;
  }
} */

/* @media (max-width: 700px) {
  body {
    background-color: blue;
  }
}
@media (min-width: 900px) {
  body {
    background-color: green;
  }
} */
